.App {
  text-align: center;
  font-family: Arial, sans-serif; /* Tilføjet Arial font her */
  color: black; /* Gør teksten sort */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff; /* Skiftet til hvid baggrund for kontrast til sort tekst */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Sort tekst */
  font-family: Arial, sans-serif; /* Arial font her også */
}

.App-link {
  color: black; /* Sort linkfarve */
  font-family: Arial, sans-serif;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
